radarmap-flows.json
[
    {
        "id": "d6bc0b94.367f98",
        "type": "tab",
        "label": "Radar Weather Map",
        "disabled": false,
        "info": ""
    },
    {
        "id": "12cdb8c5.b484af",
        "type": "tab",
        "label": "TWC Information",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b2ff2149.9d877",
        "type": "ui_group",
        "name": "Radar Weather Map",
        "tab": "39ac6014.b5548",
        "order": 2,
        "disp": true,
        "width": "16",
        "collapse": false
    },
    {
        "id": "803ad1f.133603",
        "type": "ui_group",
        "name": "Refresh",
        "tab": "39ac6014.b5548",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "39ac6014.b5548",
        "type": "ui_tab",
        "name": "North America Radar Map",
        "icon": "fa-thermometer-full",
        "order": 14,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "402a1ff0.879a28",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "37fbd842.07a7f8",
        "type": "inject",
        "z": "d6bc0b94.367f98",
        "name": "Test Radar Weather Map",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 40,
        "wires": [
            [
                "fcd423b9.a900d8"
            ]
        ]
    },
    {
        "id": "6c512b48.b33a8c",
        "type": "http request",
        "z": "d6bc0b94.367f98",
        "name": "Get Tiler Server Info",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.weather.com/v3/TileServer/series/productSet/PPAcore?apiKey={{twcapikey}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 520,
        "y": 100,
        "wires": [
            [
                "169486ee.f939e9",
                "3194631f.a8b224"
            ]
        ]
    },
    {
        "id": "169486ee.f939e9",
        "type": "function",
        "z": "d6bc0b94.367f98",
        "name": " Playback 3 hours of tile History",
        "func": "var count;\nfor( count = msg.payload.seriesInfo.satrad.series.length - 1; count >= 0 ; count-- ) {\n    var newmsg = {};\n    newmsg.twcapikey = msg.twcapikey;\n    newmsg.tile_ts = msg.payload.seriesInfo.satrad.series[count].ts;\n    node.send(newmsg);\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 180,
        "wires": [
            [
                "d1f00866.642948"
            ]
        ]
    },
    {
        "id": "1c78bc2.b51b144",
        "type": "debug",
        "z": "d6bc0b94.367f98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 180,
        "wires": []
    },
    {
        "id": "d1f00866.642948",
        "type": "delay",
        "z": "d6bc0b94.367f98",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 470,
        "y": 180,
        "wires": [
            [
                "1c78bc2.b51b144",
                "4b93310f.8bd7a"
            ]
        ]
    },
    {
        "id": "3194631f.a8b224",
        "type": "debug",
        "z": "d6bc0b94.367f98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 100,
        "wires": []
    },
    {
        "id": "c70019ed.276f18",
        "type": "comment",
        "z": "d6bc0b94.367f98",
        "name": "Loop North America map tiles ",
        "info": "",
        "x": 200,
        "y": 220,
        "wires": []
    },
    {
        "id": "21fea4c9.42eb7c",
        "type": "jimp-image",
        "z": "d6bc0b94.367f98",
        "name": "Tile 1",
        "data": "payload",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "image1",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {
            "name": "none",
            "fn": "none",
            "description": "Just loads the image.",
            "parameters": []
        },
        "x": 350,
        "y": 300,
        "wires": [
            [
                "c0184a93.6e8b"
            ]
        ]
    },
    {
        "id": "358d00bd.34c9e",
        "type": "jimp-image",
        "z": "d6bc0b94.367f98",
        "name": "Tile 2",
        "data": "payload",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "image2",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {
            "name": "none",
            "fn": "none",
            "description": "Just loads the image.",
            "parameters": []
        },
        "x": 350,
        "y": 360,
        "wires": [
            [
                "851fe577.71573"
            ]
        ]
    },
    {
        "id": "c661fdb1.30f7c8",
        "type": "function",
        "z": "d6bc0b94.367f98",
        "name": "new img params",
        "func": "msg.width3 = msg.width1 + msg.width2;\nmsg.height3 = Math.max(msg.height1, + msg.height2);\nmsg.payload = {w: msg.width3, h: msg.height3}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 420,
        "wires": [
            [
                "9c7883cd.ff5368"
            ]
        ]
    },
    {
        "id": "9c7883cd.ff5368",
        "type": "jimp-image",
        "z": "d6bc0b94.367f98",
        "name": "North America",
        "data": "payload",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "image3",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {
            "name": "none",
            "fn": "none",
            "description": "Just loads the image.",
            "parameters": []
        },
        "x": 380,
        "y": 420,
        "wires": [
            [
                "ebfd5eca.b9688"
            ]
        ]
    },
    {
        "id": "ebfd5eca.b9688",
        "type": "jimp-image",
        "z": "d6bc0b94.367f98",
        "name": "blit Tile 1",
        "data": "image3",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "image1",
        "parameter1Type": "msg",
        "parameter2": "0",
        "parameter2Type": "num",
        "parameter3": "0",
        "parameter3Type": "num",
        "parameter4": "0",
        "parameter4Type": "num",
        "parameter5": "0",
        "parameter5Type": "num",
        "parameter6": "width1",
        "parameter6Type": "msg",
        "parameter7": "height1",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "image3",
        "sendPropertyType": "msg",
        "parameterCount": 7,
        "jimpFunction": "blit",
        "selectedJimpFunction": {
            "name": "blit",
            "fn": "blit",
            "description": "blit the image with another Jimp image at x, y, optionally cropped",
            "parameters": [
                {
                    "name": "src",
                    "type": "",
                    "required": true,
                    "hint": "the source image (a Jimp instance)",
                    "defaultType": "msg",
                    "defaultValue": "payload"
                },
                {
                    "name": "x",
                    "type": "num",
                    "required": true,
                    "hint": "the x position to blit the image"
                },
                {
                    "name": "y",
                    "type": "num",
                    "required": true,
                    "hint": "the y position to blit the image"
                },
                {
                    "name": "srcx",
                    "type": "num",
                    "required": false,
                    "hint": "the x position from which to crop the source image"
                },
                {
                    "name": "srcy",
                    "type": "num",
                    "required": false,
                    "hint": "the y position from which to crop the source image"
                },
                {
                    "name": "srcw",
                    "type": "num",
                    "required": false,
                    "hint": "the width to which to crop the source image"
                },
                {
                    "name": "srch",
                    "type": "num",
                    "required": false,
                    "hint": "the height to which to crop the source image"
                }
            ]
        },
        "x": 560,
        "y": 420,
        "wires": [
            [
                "f3d3866e.861d98"
            ]
        ]
    },
    {
        "id": "b5326d9d.a49948",
        "type": "image viewer",
        "z": "d6bc0b94.367f98",
        "name": "",
        "width": "256",
        "data": "payload",
        "dataType": "msg",
        "x": 1090,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "f3d3866e.861d98",
        "type": "jimp-image",
        "z": "d6bc0b94.367f98",
        "name": "blit Tile 2",
        "data": "image3",
        "dataType": "msg",
        "ret": "b64",
        "parameter1": "image2",
        "parameter1Type": "msg",
        "parameter2": "width1",
        "parameter2Type": "msg",
        "parameter3": "0",
        "parameter3Type": "num",
        "parameter4": "0",
        "parameter4Type": "num",
        "parameter5": "0",
        "parameter5Type": "num",
        "parameter6": "width2",
        "parameter6Type": "msg",
        "parameter7": "height2",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 7,
        "jimpFunction": "blit",
        "selectedJimpFunction": {
            "name": "blit",
            "fn": "blit",
            "description": "blit the image with another Jimp image at x, y, optionally cropped",
            "parameters": [
                {
                    "name": "src",
                    "type": "",
                    "required": true,
                    "hint": "the source image (a Jimp instance)",
                    "defaultType": "msg",
                    "defaultValue": "payload"
                },
                {
                    "name": "x",
                    "type": "num",
                    "required": true,
                    "hint": "the x position to blit the image"
                },
                {
                    "name": "y",
                    "type": "num",
                    "required": true,
                    "hint": "the y position to blit the image"
                },
                {
                    "name": "srcx",
                    "type": "num",
                    "required": false,
                    "hint": "the x position from which to crop the source image"
                },
                {
                    "name": "srcy",
                    "type": "num",
                    "required": false,
                    "hint": "the y position from which to crop the source image"
                },
                {
                    "name": "srcw",
                    "type": "num",
                    "required": false,
                    "hint": "the width to which to crop the source image"
                },
                {
                    "name": "srch",
                    "type": "num",
                    "required": false,
                    "hint": "the height to which to crop the source image"
                }
            ]
        },
        "x": 720,
        "y": 420,
        "wires": [
            [
                "b5326d9d.a49948",
                "8db919a9.ffec38"
            ]
        ]
    },
    {
        "id": "4b93310f.8bd7a",
        "type": "http request",
        "z": "d6bc0b94.367f98",
        "name": "Get Radar tile 0:1:2",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "https://api.weather.com/v3/TileServer/tile/satrad?ts={{tile_ts}}&xyz=0:1:2&apiKey={{twcapikey}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "21fea4c9.42eb7c"
            ]
        ]
    },
    {
        "id": "1e3d1f8d.94dac",
        "type": "http request",
        "z": "d6bc0b94.367f98",
        "name": "Get Radar tile 1:1:2",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "https://api.weather.com/v3/TileServer/tile/satrad?ts={{tile_ts}}&xyz=1:1:2&apiKey={{twcapikey}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 170,
        "y": 360,
        "wires": [
            [
                "358d00bd.34c9e"
            ]
        ]
    },
    {
        "id": "c0184a93.6e8b",
        "type": "change",
        "z": "d6bc0b94.367f98",
        "name": "Get Tile 1 Size",
        "rules": [
            {
                "t": "set",
                "p": "width1",
                "pt": "msg",
                "to": "imageInfo.width",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "height1",
                "pt": "msg",
                "to": "imageInfo.height",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 300,
        "wires": [
            [
                "1e3d1f8d.94dac"
            ]
        ]
    },
    {
        "id": "851fe577.71573",
        "type": "change",
        "z": "d6bc0b94.367f98",
        "name": "Get Tile 2 Size",
        "rules": [
            {
                "t": "set",
                "p": "width2",
                "pt": "msg",
                "to": "imageInfo.width",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "height2",
                "pt": "msg",
                "to": "imageInfo.height",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 360,
        "wires": [
            [
                "c661fdb1.30f7c8"
            ]
        ]
    },
    {
        "id": "5fde8409.6b1da4",
        "type": "ui_template",
        "z": "d6bc0b94.367f98",
        "group": "b2ff2149.9d877",
        "name": "",
        "order": 0,
        "width": "16",
        "height": "8",
        "format": "<div ng-bind-html></div>\n<img alt=\"world map\" src=\"{{msg.payload}}\"/>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1420,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "f65b8931.9f82e",
        "type": "ui_button",
        "z": "d6bc0b94.367f98",
        "name": "",
        "group": "803ad1f.133603",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "fcd423b9.a900d8"
            ]
        ]
    },
    {
        "id": "fcd423b9.a900d8",
        "type": "change",
        "z": "d6bc0b94.367f98",
        "name": "TWC API Key",
        "rules": [
            {
                "t": "set",
                "p": "twcapikey",
                "pt": "msg",
                "to": "TWCAPIKEY",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 100,
        "wires": [
            [
                "6c512b48.b33a8c"
            ]
        ]
    },
    {
        "id": "6ae72f04.2cf018",
        "type": "comment",
        "z": "d6bc0b94.367f98",
        "name": "North American Radar",
        "info": "\nhttps://api.weather.com/v3/TileServer/tile/radar?ts=1520428200&xyz={col}:{row}:{level}&apiKey=YOURAPIKEY",
        "x": 500,
        "y": 260,
        "wires": []
    },
    {
        "id": "8db919a9.ffec38",
        "type": "jimp-image",
        "z": "d6bc0b94.367f98",
        "name": "Composite North America Radar ",
        "data": "payload",
        "dataType": "msg",
        "ret": "b64",
        "parameter1": "baselayer",
        "parameter1Type": "flow",
        "parameter2": "0",
        "parameter2Type": "num",
        "parameter3": "0",
        "parameter3Type": "num",
        "parameter4": "BLEND_DESTINATION_OVER",
        "parameter4Type": "Blend",
        "parameter5": "100",
        "parameter5Type": "num",
        "parameter6": "100",
        "parameter6Type": "num",
        "parameter7": "height2",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "radarmap",
        "sendPropertyType": "msg",
        "parameterCount": 6,
        "jimpFunction": "composite",
        "selectedJimpFunction": {
            "name": "composite",
            "fn": "composite",
            "description": "composites another Jimp image over this image at x, y",
            "parameters": [
                {
                    "name": "src",
                    "type": "",
                    "required": true,
                    "hint": "the source image (a Jimp instance)",
                    "defaultType": "msg",
                    "defaultValue": "payload"
                },
                {
                    "name": "x",
                    "type": "num",
                    "required": true,
                    "hint": "the x position to blit the image"
                },
                {
                    "name": "y",
                    "type": "num",
                    "required": true,
                    "hint": "the y position to blit the image"
                },
                {
                    "name": "mode",
                    "group": "options",
                    "type": "blend",
                    "required": true,
                    "hint": "what blend mode to use"
                },
                {
                    "name": "opacitySource",
                    "group": "options",
                    "type": "num",
                    "required": true,
                    "hint": "opacity of src image 0.0 to 1.0"
                },
                {
                    "name": "opacityDest",
                    "group": "options",
                    "type": "num",
                    "required": true,
                    "hint": "opacity of src image 0.0 to 1.0"
                }
            ]
        },
        "x": 990,
        "y": 200,
        "wires": [
            [
                "bb643e94.b77fd8",
                "6f84b629.0857d8"
            ]
        ]
    },
    {
        "id": "bb643e94.b77fd8",
        "type": "image viewer",
        "z": "d6bc0b94.367f98",
        "name": "",
        "width": "256",
        "data": "radarmap",
        "dataType": "msg",
        "x": 1090,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "6f84b629.0857d8",
        "type": "function",
        "z": "d6bc0b94.367f98",
        "name": "",
        "func": "msg.payload = \"data:image/jpg;base64,\"+msg.radarmap;\nmsg.payload = msg.radarmap;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 200,
        "wires": [
            [
                "5fde8409.6b1da4"
            ]
        ]
    },
    {
        "id": "acb5bd1f.432b3",
        "type": "jimp-image",
        "z": "d6bc0b94.367f98",
        "name": "baselayer 01",
        "data": "payload",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "background01",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {
            "name": "none",
            "fn": "none",
            "description": "Just loads the image.",
            "parameters": []
        },
        "x": 570,
        "y": 540,
        "wires": [
            [
                "7e430d4b.350e4c"
            ]
        ]
    },
    {
        "id": "1b2e5058.2f29c8",
        "type": "jimp-image",
        "z": "d6bc0b94.367f98",
        "name": "baselayer 11",
        "data": "payload",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "background11",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {
            "name": "none",
            "fn": "none",
            "description": "Just loads the image.",
            "parameters": []
        },
        "x": 570,
        "y": 600,
        "wires": [
            [
                "bfb7d5ea.e8cda"
            ]
        ]
    },
    {
        "id": "1d2e62e2.cd218d",
        "type": "function",
        "z": "d6bc0b94.367f98",
        "name": "new img params",
        "func": "msg.width3 = msg.width01 + msg.width11;\nmsg.height3 = Math.max(msg.height01, + msg.height11);\nmsg.payload = {w: msg.width3, h: msg.height3}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 660,
        "wires": [
            [
                "d6e4435d.55af7",
                "ffccd5ac.7f532"
            ]
        ]
    },
    {
        "id": "d4ab858d.60ba6",
        "type": "jimp-image",
        "z": "d6bc0b94.367f98",
        "name": "blit Tile 01",
        "data": "image3",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "background01",
        "parameter1Type": "msg",
        "parameter2": "0",
        "parameter2Type": "num",
        "parameter3": "0",
        "parameter3Type": "num",
        "parameter4": "0",
        "parameter4Type": "num",
        "parameter5": "0",
        "parameter5Type": "num",
        "parameter6": "width01",
        "parameter6Type": "msg",
        "parameter7": "height01",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "image3",
        "sendPropertyType": "msg",
        "parameterCount": 7,
        "jimpFunction": "blit",
        "selectedJimpFunction": {
            "name": "blit",
            "fn": "blit",
            "description": "blit the image with another Jimp image at x, y, optionally cropped",
            "parameters": [
                {
                    "name": "src",
                    "type": "",
                    "required": true,
                    "hint": "the source image (a Jimp instance)",
                    "defaultType": "msg",
                    "defaultValue": "payload"
                },
                {
                    "name": "x",
                    "type": "num",
                    "required": true,
                    "hint": "the x position to blit the image"
                },
                {
                    "name": "y",
                    "type": "num",
                    "required": true,
                    "hint": "the y position to blit the image"
                },
                {
                    "name": "srcx",
                    "type": "num",
                    "required": false,
                    "hint": "the x position from which to crop the source image"
                },
                {
                    "name": "srcy",
                    "type": "num",
                    "required": false,
                    "hint": "the y position from which to crop the source image"
                },
                {
                    "name": "srcw",
                    "type": "num",
                    "required": false,
                    "hint": "the width to which to crop the source image"
                },
                {
                    "name": "srch",
                    "type": "num",
                    "required": false,
                    "hint": "the height to which to crop the source image"
                }
            ]
        },
        "x": 560,
        "y": 660,
        "wires": [
            [
                "e58de2f8.637508"
            ]
        ]
    },
    {
        "id": "e58de2f8.637508",
        "type": "jimp-image",
        "z": "d6bc0b94.367f98",
        "name": "blit Tile 11",
        "data": "image3",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "background11",
        "parameter1Type": "msg",
        "parameter2": "width01",
        "parameter2Type": "msg",
        "parameter3": "0",
        "parameter3Type": "num",
        "parameter4": "0",
        "parameter4Type": "num",
        "parameter5": "0",
        "parameter5Type": "num",
        "parameter6": "width11",
        "parameter6Type": "msg",
        "parameter7": "height11",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "image3",
        "sendPropertyType": "msg",
        "parameterCount": 7,
        "jimpFunction": "blit",
        "selectedJimpFunction": {
            "name": "blit",
            "fn": "blit",
            "description": "blit the image with another Jimp image at x, y, optionally cropped",
            "parameters": [
                {
                    "name": "src",
                    "type": "",
                    "required": true,
                    "hint": "the source image (a Jimp instance)",
                    "defaultType": "msg",
                    "defaultValue": "payload"
                },
                {
                    "name": "x",
                    "type": "num",
                    "required": true,
                    "hint": "the x position to blit the image"
                },
                {
                    "name": "y",
                    "type": "num",
                    "required": true,
                    "hint": "the y position to blit the image"
                },
                {
                    "name": "srcx",
                    "type": "num",
                    "required": false,
                    "hint": "the x position from which to crop the source image"
                },
                {
                    "name": "srcy",
                    "type": "num",
                    "required": false,
                    "hint": "the y position from which to crop the source image"
                },
                {
                    "name": "srcw",
                    "type": "num",
                    "required": false,
                    "hint": "the width to which to crop the source image"
                },
                {
                    "name": "srch",
                    "type": "num",
                    "required": false,
                    "hint": "the height to which to crop the source image"
                }
            ]
        },
        "x": 720,
        "y": 660,
        "wires": [
            [
                "e636209b.3bf348"
            ]
        ]
    },
    {
        "id": "d4cc2eac.be1a48",
        "type": "http request",
        "z": "d6bc0b94.367f98",
        "name": "Get a MapBox tile 2:0:1",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "https://api.mapbox.com/styles/v1/mapbox/outdoors-v11/tiles/2/0/1?access_token={{mapbox}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 190,
        "y": 540,
        "wires": [
            [
                "97bc63db.f2982"
            ]
        ]
    },
    {
        "id": "7cb4f485.7b51f4",
        "type": "http request",
        "z": "d6bc0b94.367f98",
        "name": "Get a MapBox tile 2:1:1",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "https://api.mapbox.com/styles/v1/mapbox/outdoors-v11/tiles/2/1/1?access_token={{mapbox}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 190,
        "y": 600,
        "wires": [
            [
                "d3d9d927.476a8"
            ]
        ]
    },
    {
        "id": "7e430d4b.350e4c",
        "type": "change",
        "z": "d6bc0b94.367f98",
        "name": "Get Tile 01 Size",
        "rules": [
            {
                "t": "set",
                "p": "width01",
                "pt": "msg",
                "to": "imageInfo.width",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "height01",
                "pt": "msg",
                "to": "imageInfo.height",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 540,
        "wires": [
            [
                "7cb4f485.7b51f4"
            ]
        ]
    },
    {
        "id": "bfb7d5ea.e8cda",
        "type": "change",
        "z": "d6bc0b94.367f98",
        "name": "Get Tile 11 Size",
        "rules": [
            {
                "t": "set",
                "p": "width11",
                "pt": "msg",
                "to": "imageInfo.width",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "height11",
                "pt": "msg",
                "to": "imageInfo.height",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 600,
        "wires": [
            [
                "1d2e62e2.cd218d"
            ]
        ]
    },
    {
        "id": "97bc63db.f2982",
        "type": "base64",
        "z": "d6bc0b94.367f98",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 400,
        "y": 540,
        "wires": [
            [
                "acb5bd1f.432b3"
            ]
        ]
    },
    {
        "id": "d3d9d927.476a8",
        "type": "base64",
        "z": "d6bc0b94.367f98",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 400,
        "y": 600,
        "wires": [
            [
                "1b2e5058.2f29c8"
            ]
        ]
    },
    {
        "id": "3968a260.1b5fce",
        "type": "inject",
        "z": "d6bc0b94.367f98",
        "name": "Set MapBox API token",
        "props": [
            {
                "p": "mapbox",
                "v": "MAPBOXTOKEN",
                "vt": "env"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 160,
        "y": 500,
        "wires": [
            [
                "d4cc2eac.be1a48"
            ]
        ]
    },
    {
        "id": "e636209b.3bf348",
        "type": "jimp-image",
        "z": "d6bc0b94.367f98",
        "name": "Resize",
        "data": "image3",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "512",
        "parameter1Type": "num",
        "parameter2": "256",
        "parameter2Type": "num",
        "parameter3": "RESIZE_BEZIER",
        "parameter3Type": "resizeMode",
        "parameter4": "0",
        "parameter4Type": "num",
        "parameter5": "0",
        "parameter5Type": "num",
        "parameter6": "width1",
        "parameter6Type": "msg",
        "parameter7": "height1",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 3,
        "jimpFunction": "scaleToFit",
        "selectedJimpFunction": {
            "name": "scaleToFit",
            "fn": "scaleToFit",
            "description": "scale the image to the largest size that fits inside the given width and height. One of the w or h parameters can be set to automatic (\"Jimp.AUTO\" or -1).",
            "parameters": [
                {
                    "name": "w",
                    "type": "num|auto",
                    "required": true,
                    "hint": "the width to resize the image to (or \"Jimp.AUTO\" or -1)"
                },
                {
                    "name": "h",
                    "type": "num|auto",
                    "required": true,
                    "hint": "the height to resize the image to (or \"Jimp.AUTO\" or -1)"
                },
                {
                    "name": "mode",
                    "type": "resizeMode",
                    "required": false,
                    "hint": "a scaling method (e.g. Jimp.RESIZE_BEZIER)"
                }
            ]
        },
        "x": 870,
        "y": 660,
        "wires": [
            [
                "49ffd373.50462c",
                "9e769a2.6125ae8",
                "82aefb1d.ef14c"
            ]
        ]
    },
    {
        "id": "d6e4435d.55af7",
        "type": "jimp-image",
        "z": "d6bc0b94.367f98",
        "name": "North America",
        "data": "payload",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "image3",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {
            "name": "none",
            "fn": "none",
            "description": "Just loads the image.",
            "parameters": []
        },
        "x": 380,
        "y": 660,
        "wires": [
            [
                "d4ab858d.60ba6"
            ]
        ]
    },
    {
        "id": "49ffd373.50462c",
        "type": "change",
        "z": "d6bc0b94.367f98",
        "name": "Save Baselayer",
        "rules": [
            {
                "t": "set",
                "p": "baselayer",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 700,
        "wires": [
            [
                "62254486.fa3ecc"
            ]
        ]
    },
    {
        "id": "82aefb1d.ef14c",
        "type": "image viewer",
        "z": "d6bc0b94.367f98",
        "name": "baselayer",
        "width": "256",
        "data": "baselayer",
        "dataType": "flow",
        "x": 1100,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "9d20d02a.404a2",
        "type": "inject",
        "z": "d6bc0b94.367f98",
        "name": "View baselayer",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 880,
        "y": 740,
        "wires": [
            [
                "82aefb1d.ef14c"
            ]
        ]
    },
    {
        "id": "62254486.fa3ecc",
        "type": "debug",
        "z": "d6bc0b94.367f98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1310,
        "y": 700,
        "wires": []
    },
    {
        "id": "ffccd5ac.7f532",
        "type": "debug",
        "z": "d6bc0b94.367f98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 700,
        "wires": []
    },
    {
        "id": "9e769a2.6125ae8",
        "type": "jimp-image",
        "z": "d6bc0b94.367f98",
        "name": "base64",
        "data": "payload",
        "dataType": "msg",
        "ret": "b64",
        "parameter1": "512",
        "parameter1Type": "num",
        "parameter2": "256",
        "parameter2Type": "num",
        "parameter3": "RESIZE_BEZIER",
        "parameter3Type": "resizeMode",
        "parameter4": "0",
        "parameter4Type": "num",
        "parameter5": "0",
        "parameter5Type": "num",
        "parameter6": "width1",
        "parameter6Type": "msg",
        "parameter7": "height1",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {
            "name": "none",
            "fn": "none",
            "description": "Just loads the image.",
            "parameters": []
        },
        "x": 1100,
        "y": 660,
        "wires": [
            [
                "5fde8409.6b1da4"
            ]
        ]
    },
    {
        "id": "e22d9b21.69426",
        "type": "comment",
        "z": "d6bc0b94.367f98",
        "name": "Load North America baselayer from Mapbox",
        "info": "",
        "x": 490,
        "y": 500,
        "wires": []
    },
    {
        "id": "ee92b6b5.2c19c8",
        "type": "comment",
        "z": "12cdb8c5.b484af",
        "name": "Get a TWC Weather API Key",
        "info": "",
        "x": 140,
        "y": 120,
        "wires": []
    },
    {
        "id": "acb3023f.287a9",
        "type": "comment",
        "z": "12cdb8c5.b484af",
        "name": "Weather Company Data - Enhanced Current Conditions https://ibm.co/TWCecc",
        "info": "",
        "x": 300,
        "y": 40,
        "wires": []
    },
    {
        "id": "7a2d30c8.c2add8",
        "type": "comment",
        "z": "12cdb8c5.b484af",
        "name": "https://ibm.co/v2EHCg",
        "info": "",
        "x": 140,
        "y": 80,
        "wires": []
    },
    {
        "id": "95f295d4.6fca1",
        "type": "comment",
        "z": "12cdb8c5.b484af",
        "name": "https://developer.ibm.com/callforcode/tools/weather/",
        "info": "",
        "x": 230,
        "y": 160,
        "wires": []
    }
]