radarmap-flows.json
[
    {
        "id": "b0be1fc9.070ab8",
        "type": "tab",
        "label": "TWC Weather Maps",
        "disabled": false,
        "info": ""
    },
    {
        "id": "12cdb8c5.b484af",
        "type": "tab",
        "label": "TWC Information",
        "disabled": false,
        "info": ""
    },
    {
        "id": "402a1ff0.879a28",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "e3833dd0.24f7f",
        "type": "ui_tab",
        "name": "North America Weather Maps",
        "icon": "fa-thermometer-full",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b013df34.10652",
        "type": "ui_group",
        "name": "Weather Maps",
        "tab": "e3833dd0.24f7f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3f163f48.099af",
        "type": "ui_group",
        "name": "Maps",
        "tab": "e3833dd0.24f7f",
        "order": 2,
        "disp": false,
        "width": "16",
        "collapse": false
    },
    {
        "id": "ee92b6b5.2c19c8",
        "type": "comment",
        "z": "12cdb8c5.b484af",
        "name": "Get a TWC Weather API Key",
        "info": "",
        "x": 140,
        "y": 120,
        "wires": []
    },
    {
        "id": "acb3023f.287a9",
        "type": "comment",
        "z": "12cdb8c5.b484af",
        "name": "Weather Company Data - Enhanced Current Conditions https://ibm.co/TWCecc",
        "info": "",
        "x": 300,
        "y": 40,
        "wires": []
    },
    {
        "id": "7a2d30c8.c2add8",
        "type": "comment",
        "z": "12cdb8c5.b484af",
        "name": "https://ibm.co/v2EHCg",
        "info": "",
        "x": 140,
        "y": 80,
        "wires": []
    },
    {
        "id": "95f295d4.6fca1",
        "type": "comment",
        "z": "12cdb8c5.b484af",
        "name": "https://developer.ibm.com/callforcode/tools/weather/",
        "info": "",
        "x": 230,
        "y": 160,
        "wires": []
    },
    {
        "id": "c316fa30.0a46f",
        "type": "inject",
        "z": "b0be1fc9.070ab8",
        "name": "Test Radar Weather Map",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 40,
        "wires": [
            [
                "c6335c0c.65977"
            ]
        ]
    },
    {
        "id": "b3414891.8fb4d",
        "type": "http request",
        "z": "b0be1fc9.070ab8",
        "name": "Get Tiler Server Info",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.weather.com/v3/TileServer/series/productSet/PPAcore?apiKey={{twcapikey}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 580,
        "y": 100,
        "wires": [
            [
                "d3b1b7e.70e75c8",
                "f7277749.9a2d9"
            ]
        ]
    },
    {
        "id": "f7277749.9a2d9",
        "type": "function",
        "z": "b0be1fc9.070ab8",
        "name": " Playback 3 hours of tile History",
        "func": "var count;\nvar maptype = flow.get(\"maptype\")||\"satrad\";\n\nfor( count = msg.payload.seriesInfo[maptype].series.length - 1; count >= 0 ; count-- ) {\n    var newmsg = {};\n    newmsg.twcapikey = msg.twcapikey;\n    newmsg.maptype = maptype;\n    newmsg.tile_ts = msg.payload.seriesInfo[maptype].series[count].ts;\n    node.send(newmsg);\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 180,
        "wires": [
            [
                "78d14678.a5b478"
            ]
        ]
    },
    {
        "id": "d1c0944.c863668",
        "type": "debug",
        "z": "b0be1fc9.070ab8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 180,
        "wires": []
    },
    {
        "id": "78d14678.a5b478",
        "type": "delay",
        "z": "b0be1fc9.070ab8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 470,
        "y": 180,
        "wires": [
            [
                "d1c0944.c863668",
                "f54ea084.0e35a8"
            ]
        ]
    },
    {
        "id": "d3b1b7e.70e75c8",
        "type": "debug",
        "z": "b0be1fc9.070ab8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 100,
        "wires": []
    },
    {
        "id": "50190f1f.8afc3",
        "type": "comment",
        "z": "b0be1fc9.070ab8",
        "name": "Loop North America map tiles ",
        "info": "",
        "x": 200,
        "y": 220,
        "wires": []
    },
    {
        "id": "213c5a7.a3a5f26",
        "type": "jimp-image",
        "z": "b0be1fc9.070ab8",
        "name": "Tile 1",
        "data": "payload",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "image1",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {
            "name": "none",
            "fn": "none",
            "description": "Just loads the image.",
            "parameters": []
        },
        "x": 370,
        "y": 300,
        "wires": [
            [
                "15af19a7.bfc056"
            ]
        ]
    },
    {
        "id": "43376b15.86d7e4",
        "type": "jimp-image",
        "z": "b0be1fc9.070ab8",
        "name": "Tile 2",
        "data": "payload",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "image2",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {
            "name": "none",
            "fn": "none",
            "description": "Just loads the image.",
            "parameters": []
        },
        "x": 370,
        "y": 360,
        "wires": [
            [
                "e33b1bbe.d171a"
            ]
        ]
    },
    {
        "id": "13be4230.e97f8e",
        "type": "function",
        "z": "b0be1fc9.070ab8",
        "name": "new img params",
        "func": "msg.width3 = msg.width1 + msg.width2;\nmsg.height3 = Math.max(msg.height1, + msg.height2);\nmsg.payload = {w: msg.width3, h: msg.height3}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 420,
        "wires": [
            [
                "3c7b98de.a68c88"
            ]
        ]
    },
    {
        "id": "3c7b98de.a68c88",
        "type": "jimp-image",
        "z": "b0be1fc9.070ab8",
        "name": "North America",
        "data": "payload",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "image3",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {
            "name": "none",
            "fn": "none",
            "description": "Just loads the image.",
            "parameters": []
        },
        "x": 380,
        "y": 420,
        "wires": [
            [
                "feac91c.1fb087"
            ]
        ]
    },
    {
        "id": "feac91c.1fb087",
        "type": "jimp-image",
        "z": "b0be1fc9.070ab8",
        "name": "blit Tile 1",
        "data": "image3",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "image1",
        "parameter1Type": "msg",
        "parameter2": "0",
        "parameter2Type": "num",
        "parameter3": "0",
        "parameter3Type": "num",
        "parameter4": "0",
        "parameter4Type": "num",
        "parameter5": "0",
        "parameter5Type": "num",
        "parameter6": "width1",
        "parameter6Type": "msg",
        "parameter7": "height1",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "image3",
        "sendPropertyType": "msg",
        "parameterCount": 7,
        "jimpFunction": "blit",
        "selectedJimpFunction": {
            "name": "blit",
            "fn": "blit",
            "description": "blit the image with another Jimp image at x, y, optionally cropped",
            "parameters": [
                {
                    "name": "src",
                    "type": "",
                    "required": true,
                    "hint": "the source image (a Jimp instance)",
                    "defaultType": "msg",
                    "defaultValue": "payload"
                },
                {
                    "name": "x",
                    "type": "num",
                    "required": true,
                    "hint": "the x position to blit the image"
                },
                {
                    "name": "y",
                    "type": "num",
                    "required": true,
                    "hint": "the y position to blit the image"
                },
                {
                    "name": "srcx",
                    "type": "num",
                    "required": false,
                    "hint": "the x position from which to crop the source image"
                },
                {
                    "name": "srcy",
                    "type": "num",
                    "required": false,
                    "hint": "the y position from which to crop the source image"
                },
                {
                    "name": "srcw",
                    "type": "num",
                    "required": false,
                    "hint": "the width to which to crop the source image"
                },
                {
                    "name": "srch",
                    "type": "num",
                    "required": false,
                    "hint": "the height to which to crop the source image"
                }
            ]
        },
        "x": 560,
        "y": 420,
        "wires": [
            [
                "9bbd8ae8.9b8b2"
            ]
        ]
    },
    {
        "id": "264356ff.152d9a",
        "type": "image viewer",
        "z": "b0be1fc9.070ab8",
        "name": "",
        "width": "256",
        "data": "payload",
        "dataType": "msg",
        "x": 1090,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "9bbd8ae8.9b8b2",
        "type": "jimp-image",
        "z": "b0be1fc9.070ab8",
        "name": "blit Tile 2",
        "data": "image3",
        "dataType": "msg",
        "ret": "b64",
        "parameter1": "image2",
        "parameter1Type": "msg",
        "parameter2": "width1",
        "parameter2Type": "msg",
        "parameter3": "0",
        "parameter3Type": "num",
        "parameter4": "0",
        "parameter4Type": "num",
        "parameter5": "0",
        "parameter5Type": "num",
        "parameter6": "width2",
        "parameter6Type": "msg",
        "parameter7": "height2",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 7,
        "jimpFunction": "blit",
        "selectedJimpFunction": {
            "name": "blit",
            "fn": "blit",
            "description": "blit the image with another Jimp image at x, y, optionally cropped",
            "parameters": [
                {
                    "name": "src",
                    "type": "",
                    "required": true,
                    "hint": "the source image (a Jimp instance)",
                    "defaultType": "msg",
                    "defaultValue": "payload"
                },
                {
                    "name": "x",
                    "type": "num",
                    "required": true,
                    "hint": "the x position to blit the image"
                },
                {
                    "name": "y",
                    "type": "num",
                    "required": true,
                    "hint": "the y position to blit the image"
                },
                {
                    "name": "srcx",
                    "type": "num",
                    "required": false,
                    "hint": "the x position from which to crop the source image"
                },
                {
                    "name": "srcy",
                    "type": "num",
                    "required": false,
                    "hint": "the y position from which to crop the source image"
                },
                {
                    "name": "srcw",
                    "type": "num",
                    "required": false,
                    "hint": "the width to which to crop the source image"
                },
                {
                    "name": "srch",
                    "type": "num",
                    "required": false,
                    "hint": "the height to which to crop the source image"
                }
            ]
        },
        "x": 720,
        "y": 420,
        "wires": [
            [
                "264356ff.152d9a",
                "eae9268d.402638"
            ]
        ]
    },
    {
        "id": "f54ea084.0e35a8",
        "type": "http request",
        "z": "b0be1fc9.070ab8",
        "name": "Get TWC map tile 0:1:2",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "https://api.weather.com/v3/TileServer/tile/{{maptype}}?ts={{tile_ts}}&xyz=0:1:2&apiKey={{twcapikey}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "213c5a7.a3a5f26"
            ]
        ]
    },
    {
        "id": "cb05eef4.c13ea",
        "type": "http request",
        "z": "b0be1fc9.070ab8",
        "name": "Get TWC map tile 1:1:2",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "https://api.weather.com/v3/TileServer/tile/{{maptype}}?ts={{tile_ts}}&xyz=1:1:2&apiKey={{twcapikey}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 170,
        "y": 360,
        "wires": [
            [
                "43376b15.86d7e4"
            ]
        ]
    },
    {
        "id": "15af19a7.bfc056",
        "type": "change",
        "z": "b0be1fc9.070ab8",
        "name": "Get Tile 1 Size",
        "rules": [
            {
                "t": "set",
                "p": "width1",
                "pt": "msg",
                "to": "imageInfo.width",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "height1",
                "pt": "msg",
                "to": "imageInfo.height",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 300,
        "wires": [
            [
                "cb05eef4.c13ea"
            ]
        ]
    },
    {
        "id": "e33b1bbe.d171a",
        "type": "change",
        "z": "b0be1fc9.070ab8",
        "name": "Get Tile 2 Size",
        "rules": [
            {
                "t": "set",
                "p": "width2",
                "pt": "msg",
                "to": "imageInfo.width",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "height2",
                "pt": "msg",
                "to": "imageInfo.height",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 360,
        "wires": [
            [
                "13be4230.e97f8e"
            ]
        ]
    },
    {
        "id": "af1fa775.7dba08",
        "type": "ui_template",
        "z": "b0be1fc9.070ab8",
        "group": "3f163f48.099af",
        "name": "",
        "order": 2,
        "width": "16",
        "height": "9",
        "format": "<div ng-bind-html></div>\n<img alt=\"world map\" src=\"{{msg.payload}}\"/>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1420,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "ac871ee2.009d4",
        "type": "ui_button",
        "z": "b0be1fc9.070ab8",
        "name": "",
        "group": "b013df34.10652",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Play",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-play",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 100,
        "wires": [
            [
                "c6335c0c.65977"
            ]
        ]
    },
    {
        "id": "c6335c0c.65977",
        "type": "change",
        "z": "b0be1fc9.070ab8",
        "name": "TWC API Key",
        "rules": [
            {
                "t": "set",
                "p": "twcapikey",
                "pt": "msg",
                "to": "TWCAPIKEY",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 100,
        "wires": [
            [
                "b3414891.8fb4d"
            ]
        ]
    },
    {
        "id": "a9f30293.7a1738",
        "type": "comment",
        "z": "b0be1fc9.070ab8",
        "name": "North American Radar",
        "info": "\nhttps://api.weather.com/v3/TileServer/tile/radar?ts=1520428200&xyz={col}:{row}:{level}&apiKey=YOURAPIKEY",
        "x": 500,
        "y": 260,
        "wires": []
    },
    {
        "id": "eae9268d.402638",
        "type": "jimp-image",
        "z": "b0be1fc9.070ab8",
        "name": "Composite North America Radar ",
        "data": "payload",
        "dataType": "msg",
        "ret": "b64",
        "parameter1": "baselayer",
        "parameter1Type": "flow",
        "parameter2": "0",
        "parameter2Type": "num",
        "parameter3": "0",
        "parameter3Type": "num",
        "parameter4": "BLEND_DESTINATION_OVER",
        "parameter4Type": "Blend",
        "parameter5": "100",
        "parameter5Type": "num",
        "parameter6": "100",
        "parameter6Type": "num",
        "parameter7": "height2",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "radarmap",
        "sendPropertyType": "msg",
        "parameterCount": 6,
        "jimpFunction": "composite",
        "selectedJimpFunction": {
            "name": "composite",
            "fn": "composite",
            "description": "composites another Jimp image over this image at x, y",
            "parameters": [
                {
                    "name": "src",
                    "type": "",
                    "required": true,
                    "hint": "the source image (a Jimp instance)",
                    "defaultType": "msg",
                    "defaultValue": "payload"
                },
                {
                    "name": "x",
                    "type": "num",
                    "required": true,
                    "hint": "the x position to blit the image"
                },
                {
                    "name": "y",
                    "type": "num",
                    "required": true,
                    "hint": "the y position to blit the image"
                },
                {
                    "name": "mode",
                    "group": "options",
                    "type": "blend",
                    "required": true,
                    "hint": "what blend mode to use"
                },
                {
                    "name": "opacitySource",
                    "group": "options",
                    "type": "num",
                    "required": true,
                    "hint": "opacity of src image 0.0 to 1.0"
                },
                {
                    "name": "opacityDest",
                    "group": "options",
                    "type": "num",
                    "required": true,
                    "hint": "opacity of src image 0.0 to 1.0"
                }
            ]
        },
        "x": 990,
        "y": 200,
        "wires": [
            [
                "6e442fe4.4ebd7",
                "5c7b852b.5ac31c"
            ]
        ]
    },
    {
        "id": "6e442fe4.4ebd7",
        "type": "image viewer",
        "z": "b0be1fc9.070ab8",
        "name": "",
        "width": "256",
        "data": "radarmap",
        "dataType": "msg",
        "x": 1090,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "5c7b852b.5ac31c",
        "type": "function",
        "z": "b0be1fc9.070ab8",
        "name": "",
        "func": "msg.payload = \"data:image/jpg;base64,\"+msg.radarmap;\nmsg.payload = msg.radarmap;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 200,
        "wires": [
            [
                "af1fa775.7dba08"
            ]
        ]
    },
    {
        "id": "3f1ddb73.81a30c",
        "type": "jimp-image",
        "z": "b0be1fc9.070ab8",
        "name": "baselayer 01",
        "data": "payload",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "background01",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {
            "name": "none",
            "fn": "none",
            "description": "Just loads the image.",
            "parameters": []
        },
        "x": 570,
        "y": 540,
        "wires": [
            [
                "a0803a57.2d94a8"
            ]
        ]
    },
    {
        "id": "48eb9b10.f9549c",
        "type": "jimp-image",
        "z": "b0be1fc9.070ab8",
        "name": "baselayer 11",
        "data": "payload",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "background11",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {
            "name": "none",
            "fn": "none",
            "description": "Just loads the image.",
            "parameters": []
        },
        "x": 570,
        "y": 600,
        "wires": [
            [
                "18f9a841.594938"
            ]
        ]
    },
    {
        "id": "c4bae9a8.973038",
        "type": "function",
        "z": "b0be1fc9.070ab8",
        "name": "new img params",
        "func": "msg.width3 = msg.width01 + msg.width11;\nmsg.height3 = Math.max(msg.height01, + msg.height11);\nmsg.payload = {w: msg.width3, h: msg.height3}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 660,
        "wires": [
            [
                "1f4fc030.cf2d78",
                "57fe2ff9.0e4088"
            ]
        ]
    },
    {
        "id": "bc1abe.1fcdad4",
        "type": "jimp-image",
        "z": "b0be1fc9.070ab8",
        "name": "blit Tile 01",
        "data": "image3",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "background01",
        "parameter1Type": "msg",
        "parameter2": "0",
        "parameter2Type": "num",
        "parameter3": "0",
        "parameter3Type": "num",
        "parameter4": "0",
        "parameter4Type": "num",
        "parameter5": "0",
        "parameter5Type": "num",
        "parameter6": "width01",
        "parameter6Type": "msg",
        "parameter7": "height01",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "image3",
        "sendPropertyType": "msg",
        "parameterCount": 7,
        "jimpFunction": "blit",
        "selectedJimpFunction": {
            "name": "blit",
            "fn": "blit",
            "description": "blit the image with another Jimp image at x, y, optionally cropped",
            "parameters": [
                {
                    "name": "src",
                    "type": "",
                    "required": true,
                    "hint": "the source image (a Jimp instance)",
                    "defaultType": "msg",
                    "defaultValue": "payload"
                },
                {
                    "name": "x",
                    "type": "num",
                    "required": true,
                    "hint": "the x position to blit the image"
                },
                {
                    "name": "y",
                    "type": "num",
                    "required": true,
                    "hint": "the y position to blit the image"
                },
                {
                    "name": "srcx",
                    "type": "num",
                    "required": false,
                    "hint": "the x position from which to crop the source image"
                },
                {
                    "name": "srcy",
                    "type": "num",
                    "required": false,
                    "hint": "the y position from which to crop the source image"
                },
                {
                    "name": "srcw",
                    "type": "num",
                    "required": false,
                    "hint": "the width to which to crop the source image"
                },
                {
                    "name": "srch",
                    "type": "num",
                    "required": false,
                    "hint": "the height to which to crop the source image"
                }
            ]
        },
        "x": 560,
        "y": 660,
        "wires": [
            [
                "8f17cdd4.f25e28"
            ]
        ]
    },
    {
        "id": "8f17cdd4.f25e28",
        "type": "jimp-image",
        "z": "b0be1fc9.070ab8",
        "name": "blit Tile 11",
        "data": "image3",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "background11",
        "parameter1Type": "msg",
        "parameter2": "width01",
        "parameter2Type": "msg",
        "parameter3": "0",
        "parameter3Type": "num",
        "parameter4": "0",
        "parameter4Type": "num",
        "parameter5": "0",
        "parameter5Type": "num",
        "parameter6": "width11",
        "parameter6Type": "msg",
        "parameter7": "height11",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "image3",
        "sendPropertyType": "msg",
        "parameterCount": 7,
        "jimpFunction": "blit",
        "selectedJimpFunction": {
            "name": "blit",
            "fn": "blit",
            "description": "blit the image with another Jimp image at x, y, optionally cropped",
            "parameters": [
                {
                    "name": "src",
                    "type": "",
                    "required": true,
                    "hint": "the source image (a Jimp instance)",
                    "defaultType": "msg",
                    "defaultValue": "payload"
                },
                {
                    "name": "x",
                    "type": "num",
                    "required": true,
                    "hint": "the x position to blit the image"
                },
                {
                    "name": "y",
                    "type": "num",
                    "required": true,
                    "hint": "the y position to blit the image"
                },
                {
                    "name": "srcx",
                    "type": "num",
                    "required": false,
                    "hint": "the x position from which to crop the source image"
                },
                {
                    "name": "srcy",
                    "type": "num",
                    "required": false,
                    "hint": "the y position from which to crop the source image"
                },
                {
                    "name": "srcw",
                    "type": "num",
                    "required": false,
                    "hint": "the width to which to crop the source image"
                },
                {
                    "name": "srch",
                    "type": "num",
                    "required": false,
                    "hint": "the height to which to crop the source image"
                }
            ]
        },
        "x": 720,
        "y": 660,
        "wires": [
            [
                "28c866c1.be0552"
            ]
        ]
    },
    {
        "id": "6c7f85ca.c83534",
        "type": "http request",
        "z": "b0be1fc9.070ab8",
        "name": "Get a MapBox tile 2:0:1",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "https://api.mapbox.com/styles/v1/mapbox/outdoors-v11/tiles/2/0/1?access_token={{mapbox}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 190,
        "y": 540,
        "wires": [
            [
                "81a463ed.50aa98"
            ]
        ]
    },
    {
        "id": "a591c63a.b06268",
        "type": "http request",
        "z": "b0be1fc9.070ab8",
        "name": "Get a MapBox tile 2:1:1",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "https://api.mapbox.com/styles/v1/mapbox/outdoors-v11/tiles/2/1/1?access_token={{mapbox}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 190,
        "y": 600,
        "wires": [
            [
                "881b0264.9e5238"
            ]
        ]
    },
    {
        "id": "a0803a57.2d94a8",
        "type": "change",
        "z": "b0be1fc9.070ab8",
        "name": "Get Tile 01 Size",
        "rules": [
            {
                "t": "set",
                "p": "width01",
                "pt": "msg",
                "to": "imageInfo.width",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "height01",
                "pt": "msg",
                "to": "imageInfo.height",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 540,
        "wires": [
            [
                "a591c63a.b06268"
            ]
        ]
    },
    {
        "id": "18f9a841.594938",
        "type": "change",
        "z": "b0be1fc9.070ab8",
        "name": "Get Tile 11 Size",
        "rules": [
            {
                "t": "set",
                "p": "width11",
                "pt": "msg",
                "to": "imageInfo.width",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "height11",
                "pt": "msg",
                "to": "imageInfo.height",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 600,
        "wires": [
            [
                "c4bae9a8.973038"
            ]
        ]
    },
    {
        "id": "81a463ed.50aa98",
        "type": "base64",
        "z": "b0be1fc9.070ab8",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 400,
        "y": 540,
        "wires": [
            [
                "3f1ddb73.81a30c"
            ]
        ]
    },
    {
        "id": "881b0264.9e5238",
        "type": "base64",
        "z": "b0be1fc9.070ab8",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 400,
        "y": 600,
        "wires": [
            [
                "48eb9b10.f9549c"
            ]
        ]
    },
    {
        "id": "fdee4fd3.b6b66",
        "type": "inject",
        "z": "b0be1fc9.070ab8",
        "name": "Set MapBox API token",
        "props": [
            {
                "p": "mapbox",
                "v": "MAPBOXTOKEN",
                "vt": "env"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 500,
        "wires": [
            [
                "6c7f85ca.c83534"
            ]
        ]
    },
    {
        "id": "28c866c1.be0552",
        "type": "jimp-image",
        "z": "b0be1fc9.070ab8",
        "name": "Resize",
        "data": "image3",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "512",
        "parameter1Type": "num",
        "parameter2": "256",
        "parameter2Type": "num",
        "parameter3": "RESIZE_BEZIER",
        "parameter3Type": "resizeMode",
        "parameter4": "0",
        "parameter4Type": "num",
        "parameter5": "0",
        "parameter5Type": "num",
        "parameter6": "width1",
        "parameter6Type": "msg",
        "parameter7": "height1",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 3,
        "jimpFunction": "scaleToFit",
        "selectedJimpFunction": {
            "name": "scaleToFit",
            "fn": "scaleToFit",
            "description": "scale the image to the largest size that fits inside the given width and height. One of the w or h parameters can be set to automatic (\"Jimp.AUTO\" or -1).",
            "parameters": [
                {
                    "name": "w",
                    "type": "num|auto",
                    "required": true,
                    "hint": "the width to resize the image to (or \"Jimp.AUTO\" or -1)"
                },
                {
                    "name": "h",
                    "type": "num|auto",
                    "required": true,
                    "hint": "the height to resize the image to (or \"Jimp.AUTO\" or -1)"
                },
                {
                    "name": "mode",
                    "type": "resizeMode",
                    "required": false,
                    "hint": "a scaling method (e.g. Jimp.RESIZE_BEZIER)"
                }
            ]
        },
        "x": 870,
        "y": 660,
        "wires": [
            [
                "57421e55.446dd8",
                "da432bd6.4353b8",
                "d05e54af.cc94f8"
            ]
        ]
    },
    {
        "id": "1f4fc030.cf2d78",
        "type": "jimp-image",
        "z": "b0be1fc9.070ab8",
        "name": "North America",
        "data": "payload",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "image3",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {
            "name": "none",
            "fn": "none",
            "description": "Just loads the image.",
            "parameters": []
        },
        "x": 380,
        "y": 660,
        "wires": [
            [
                "bc1abe.1fcdad4"
            ]
        ]
    },
    {
        "id": "57421e55.446dd8",
        "type": "change",
        "z": "b0be1fc9.070ab8",
        "name": "Save Baselayer",
        "rules": [
            {
                "t": "set",
                "p": "baselayer",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 700,
        "wires": [
            [
                "71e463db.b1d554"
            ]
        ]
    },
    {
        "id": "d05e54af.cc94f8",
        "type": "image viewer",
        "z": "b0be1fc9.070ab8",
        "name": "baselayer",
        "width": "256",
        "data": "baselayer",
        "dataType": "flow",
        "x": 1100,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "2bc49fa2.ac70e",
        "type": "inject",
        "z": "b0be1fc9.070ab8",
        "name": "View baselayer",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 880,
        "y": 740,
        "wires": [
            [
                "d05e54af.cc94f8"
            ]
        ]
    },
    {
        "id": "71e463db.b1d554",
        "type": "debug",
        "z": "b0be1fc9.070ab8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1310,
        "y": 700,
        "wires": []
    },
    {
        "id": "57fe2ff9.0e4088",
        "type": "debug",
        "z": "b0be1fc9.070ab8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 700,
        "wires": []
    },
    {
        "id": "da432bd6.4353b8",
        "type": "jimp-image",
        "z": "b0be1fc9.070ab8",
        "name": "base64",
        "data": "payload",
        "dataType": "msg",
        "ret": "b64",
        "parameter1": "512",
        "parameter1Type": "num",
        "parameter2": "256",
        "parameter2Type": "num",
        "parameter3": "RESIZE_BEZIER",
        "parameter3Type": "resizeMode",
        "parameter4": "0",
        "parameter4Type": "num",
        "parameter5": "0",
        "parameter5Type": "num",
        "parameter6": "width1",
        "parameter6Type": "msg",
        "parameter7": "height1",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {
            "name": "none",
            "fn": "none",
            "description": "Just loads the image.",
            "parameters": []
        },
        "x": 1100,
        "y": 660,
        "wires": [
            [
                "af1fa775.7dba08"
            ]
        ]
    },
    {
        "id": "8621d9f5.62b8b",
        "type": "comment",
        "z": "b0be1fc9.070ab8",
        "name": "Load North America baselayer from Mapbox",
        "info": "",
        "x": 490,
        "y": 500,
        "wires": []
    },
    {
        "id": "401300d9.221e5",
        "type": "ui_multistate_switch",
        "z": "b0be1fc9.070ab8",
        "name": "Choose Map Type",
        "group": "3f163f48.099af",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "stateField": "payload",
        "enableField": "enable",
        "rounded": false,
        "useThemeColors": true,
        "hideSelectedLabel": false,
        "options": [
            {
                "label": "Radar",
                "value": "satrad",
                "valueType": "str",
                "color": "#009933"
            },
            {
                "label": "Temperature",
                "value": "temp",
                "valueType": "str",
                "color": "#999999"
            },
            {
                "label": "24hr Temp Change",
                "value": "tempChange",
                "valueType": "str",
                "color": "#ff6666"
            },
            {
                "label": "UV",
                "value": "uv",
                "valueType": "str",
                "color": "#009999"
            },
            {
                "label": "Wind",
                "value": "windSpeed",
                "valueType": "str",
                "color": "#cccc00"
            },
            {
                "label": "Feels Like",
                "value": "feelsLike",
                "valueType": "str",
                "color": "#ff33cc"
            }
        ],
        "x": 470,
        "y": 40,
        "wires": [
            [
                "89410346.d445f8"
            ]
        ]
    },
    {
        "id": "de5f5ece.91196",
        "type": "debug",
        "z": "b0be1fc9.070ab8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 40,
        "wires": []
    },
    {
        "id": "89410346.d445f8",
        "type": "change",
        "z": "b0be1fc9.070ab8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "maptype",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 40,
        "wires": [
            [
                "de5f5ece.91196"
            ]
        ]
    }
]